#pag 
{
	width: 300px
}
.tagline 
{
	border-bottom: 1px solid black;
}
.lo
{
	display: inline-block;
	border-left: 1px solid black;
	text-align: center;
	width: 49%
}
.lp
{
	display: inline-block;
	text-align: center;
	width: 49%
}